.home {
	position: relative;
	.left{
		position: absolute;
		width: 10rem;
		height: 100vh;
		background-color: #363740;
	}
	.right{
		position: absolute;
		left: 10rem;
		width: calc(100vw - 10rem);
		height: 100vh;
		background-color:#f7f8fc;
		overflow: hidden;
	}
}
