/* @import './reset.css'; */

html {
	font-size: 16px;
	font-family: var(--font-primary);
}

body {
	color: var(--color-text);
	background: var(--color-bg);
}

#app {
	overflow-x: hidden;
}

.frame {
	height: 100vh;
	width: 100vw;
	font-size: var(--text-base-size);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.nav-vertical {
		flex-direction: row;
	}

	.nav {
		z-index: 1;
	}

	.main {
		flex: 1;
		overflow: hidden;
		flex-direction: column;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

@media (min-width: 1584px) {
	:root {
		--text-base-size: 16px !important;
	}

	html {
		font-size: 20px !important;
	}
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

a {
	color: #9fa4b2;
	text-decoration: none;
	transition: color 0.1s;

	/* &:hover {
		text-decoration: none;
	}

	&:active {
		color: var(--color-primary);
	}

	&:active,
	&:visited {
		text-decoration: none !important;
	}

	&:hover,
	&:focus {
		color: var(--color-4);
	} */
}

svg {
	fill: currentColor;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
