.sidebar {
	.icon-out {
		animation: move  0.4s linear 1 alternate both;
		@keyframes move{
			0%{
				right:0.5rem;
			}
			100%{
				right: 17rem;
				background:url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M833.562 499.779L478.998 854.343c-15.281 15.281-15.281 40.058 0 55.34s40.058 15.281 55.34 0l408.327-408.327L534.338 93.029c-15.281-15.282-40.058-15.282-55.34 0-15.281 15.281-15.281 40.058 0 55.34l354.564 351.412zm-391.938.634l-353.93 353.93c-15.281 15.281-15.281 40.058 0 55.34s40.058 15.281 55.34 0L551.36 501.357 143.034 93.03c-15.281-15.282-40.058-15.282-55.34 0-15.281 15.281-15.281 40.058 0 55.34l353.931 352.047z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
		   background-size: 100%;
			}
		}
	}
	.side-icon {
		position: absolute;
		z-index: 400;
		right: 0.5rem;
		top: 0;
		bottom: 0;
		height: 2.1rem;
		width: 1.6rem;
		margin:auto;
		cursor: pointer;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
		background:url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M146.134 525.905l403.415-403.416c17.387-17.387 17.387-45.577 0-62.964s-45.577-17.387-62.964 0L21.999 524.111l464.586 464.586c17.387 17.388 45.575 17.388 62.964 0 17.387-17.387 17.387-45.577 0-62.964L146.134 525.904zm445.939-.722L994.766 122.49c17.387-17.387 17.387-45.577 0-62.964s-45.577-17.387-62.964 0L467.218 524.111l464.585 464.586c17.387 17.388 45.576 17.388 62.964 0 17.387-17.387 17.387-45.577 0-62.964L592.073 525.182z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
		background-size: 100%;
	}
	.list-out{
		animation: listout  0.4s linear 1 alternate both;
		@keyframes listout {
			from {
				right:-18.1rem;
			}

			to {
				right: 0.1rem;
			}
		}
	}

	.list{
		position: absolute;
		z-index: 400;
		width:17rem;
		height:95%;
		top:0;
		bottom: 0;
		margin: auto;
		right: -18.1rem;
		background-color: hsl(240,33%,97%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
		.content{
			display: flex;
			flex-direction: column;
			height: 100%;
			.title{
				height:2rem;
				text-align: center;
				border-bottom: hsl(225,10%,68%)solid;
				color: #9fa4b2;
				font-weight: 700;
			}
			.aside-search{
				border-bottom: 1px solid #e5e5e5;
				padding: 15px 0;
				text-align: center;
				.search-bar{
					position: relative;
    			display: inline-block;
					vertical-align: middle;
					height:2rem;
					.com-search{
						position: relative;
						display: block;
						.search-input{
							box-shadow: none;
    					border: 1px solid #e5e5e5;
							font-size: 12px;
							display: block;
							box-sizing: border-box;
							padding: 5px 36px 5px 10px;
							width: 250px;
							height: 30px;
							border: none;
							border-radius: 2px;
							line-height: 20px;
							color: #000;
						}
						.search-btn{
							position: absolute;
							right: 0;
							top: 0;
							width: 26px;
							height: 100%;
							border: none;
							background-color: transparent;
							line-height: 30px;
							font-size: 0;
							text-align: left;
							cursor: pointer;
							outline: none;
							&:before{
								content: '';
								display: inline-block;
								vertical-align: middle;
								width: 16px;
								height: 16px;
								background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M932.935 873.6L806.18 736.34c-2.122-2.237-4.215-3.737-6.258-4.651 50.49-66.38 80.466-149.212 80.466-239.047 0-83.107-25.706-160.183-69.522-223.824 17.081 44.194 26.547 92.178 26.547 142.399 0 218.282-176.953 395.235-395.235 395.235-135.174 0-254.447-67.901-325.714-171.41 57.163 147.891 200.627 252.836 368.689 252.836 115.411 0 219.264-49.473 291.522-128.36l156.835 175.03c15.826-17.323 15.574-43.93-.576-60.949z' fill='%2344E0C2'/%3E%3Cpath d='M942.692 860.24L816.337 718.568c48.537-67.95 77.125-151.083 77.125-240.769 0-228.93-186.245-415.165-415.174-415.165-228.92 0-415.165 186.236-415.165 415.165s186.244 415.165 415.165 415.165c95.972 0 184.44-32.736 254.832-87.622l125.75 134.455c10.866 11.284 26.005 17.7 41.638 17.7h.757c15.905-.219 31.173-7.072 41.892-18.812 20.353-22.26 20.025-56.86-.465-78.443zM89.264 477.799c0-214.51 174.514-389.023 389.024-389.023 214.519 0 389.032 174.514 389.032 389.023S692.807 866.821 478.289 866.821c-214.51 0-389.025-174.513-389.025-389.023zM923.87 921.073c-5.96 6.508-14.11 10.172-22.951 10.3-8.796.073-17.082-3.354-23.088-9.57l-124.569-133.2a418.823 418.823 0 0 0 46.922-48.887l123.276 138.207c11.376 11.996 11.558 30.936.41 43.15z' fill='%2300B290'/%3E%3Cpath d='M331.138 229.746c-14.21 8.44-27.846 18.23-40.534 29.094-48.91 41.984-82.717 99.717-95.177 162.574-3.655 18.43-5.515 37.407-5.515 56.384 0 7.22 5.852 13.071 13.071 13.071s13.071-5.851 13.071-13.07c0-17.283 1.686-34.547 5.004-51.318 11.33-57.132 42.074-109.616 86.564-147.807 11.54-9.88 23.945-18.794 36.861-26.47 6.207-3.681 8.25-11.703 4.567-17.901-3.693-6.216-11.733-8.258-17.912-4.557z' fill='%2300B290'/%3E%3C/svg%3E") no-repeat center;
								background-size: 100%;
							}

						}
					}
					.search-list{
						background-color: hsl(0,0%,100%);
						width:80%;
						position: absolute;
						left: 0;
						right: 0;
						overflow-y: auto;
						margin: auto;
						height: 200px;
						color:hsl(150,39%,67%);
						box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
						font-size: 0.9rem;
						.show-input{
							border-bottom: 1px solid #e5e5e5;
							height: 2rem;
							line-height: 2rem;
							cursor: pointer;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							&:hover{
								background-color: hsl(240,33%,97%);
							}
							.text{
								vertical-align: middle;
							}
						}
					}
				}
			}
			.search-list{
				background-color: hsl(0,0%,100%);
				overflow-y: auto;
				margin: auto;
				width: 100%;
				flex-grow: 1;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
				font-size: 0.9rem;
				.show-input1{
					border-bottom: 1px solid #e5e5e5;
					height: 3rem;
					line-height: 3rem;
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:hover{
						/* color:hsl(232, 100%, 60%); */
						background-color: hsl(240,33%,97%);
					}
					.icon{
						width: 2rem;
						display: inline-block;
						background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1030 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M459.70099999999996 670.446q3.796-.823 4.619 2.972l22.038 101.586q.823 3.796-2.972 4.62-3.796.823-4.62-2.973l-22.038-101.586q-.823-3.795 2.973-4.619zM541.378 779.941q-3.796-.824-2.973-4.62l22.038-101.585q.824-3.796 4.62-2.973 3.795.824 2.972 4.62l-22.038 101.585q-.824 3.796-4.62 2.973zM511.41499999999996 672.112q3.884 0 3.884 3.884v103.949q0 3.884-3.884 3.884-3.885 0-3.885-3.884V675.996q0-3.884 3.885-3.884zM1006.452 1024h-95.7a16.017 16.017 0 0 1 0-32.033h103.588a16.017 16.017 0 0 1 0 32.033zm-170.538-.24h-3.404a16.017 16.017 0 1 1 0-32.034h33.515a16.017 16.017 0 0 1 0 32.034zm-77.08-.04c-179.829 0-364.382-2.683-542.848-5.286l-104.11-1.521a16.017 16.017 0 0 1 .241-32.034h.24l104.11 1.522c188.196 2.763 382.76 5.566 571.437 5.285a16.017 16.017 0 0 1 0 32.034zm-689.361-7.128h-.48c-13.735-.4-31.033-.56-52.896-.44h-.08a16.017 16.017 0 0 1 0-32.034c22.223 0 40.042 0 54.016.44a16.017 16.017 0 0 1-.48 32.034zM885.325 808.975a27.469 27.469 0 1 1 27.469-27.428 27.429 27.429 0 0 1-27.469 27.428zm0-50.893a23.465 23.465 0 1 0 23.465 23.465 23.465 23.465 0 0 0-23.465-23.545zM146.313 304.448a19.22 19.22 0 1 1 19.22-19.22 19.22 19.22 0 0 1-19.22 19.22zm0-34.436a15.216 15.216 0 1 0 15.216 15.216 15.216 15.216 0 0 0-15.216-15.136zM910.792 314.619l8.209 16.657 18.379 2.643-13.294 12.973 3.123 18.3-16.417-8.65-16.417 8.65 3.123-18.3-13.294-12.973 18.38-2.643 8.208-16.657zm-742.616 249.38l2.442-14.255-10.45-10.09 14.294-2.082 6.407-12.934 6.407 12.934 14.295 2.082-10.331 10.09L193.682 564l-12.813-6.727zm12.773-11.292l7.488 4.005-1.442-8.33 6.047-5.885-8.329-1.202-3.764-7.567-3.724 7.567-8.369 1.202 6.047 5.886-1.402 8.329zM935.217 431.38h-16.016a4.004 4.004 0 0 1 0-8.008h16.016a4.004 4.004 0 0 1 0 8.009z' fill='%231296db'/%3E%3Cpath d='M927.21 439.389a4.004 4.004 0 0 1-4.005-4.004v-16.017a4.004 4.004 0 1 1 8.008 0v16.017a4.004 4.004 0 0 1-4.004 4.004zM80.403 624.943l-10.931 7.968 4.164 12.854h13.534l4.205-12.854-10.972-7.968zM845.564 559.715h-15.216a4.685 4.685 0 0 0-1.081.2 2.803 2.803 0 0 0 .92-.6l10.692-10.612a3.604 3.604 0 0 0 0-5.085l-1.682-1.682a3.604 3.604 0 0 0-5.085 0l-10.691 10.771a5.406 5.406 0 0 0-.561.881 4.325 4.325 0 0 0 .2-1.08V537.29a3.604 3.604 0 0 0-3.604-3.603h-2.362a3.604 3.604 0 0 0-3.604 3.603v15.216a3.283 3.283 0 0 0 .24 1.081 3.764 3.764 0 0 0-.64-.92l-10.771-10.772a3.604 3.604 0 0 0-5.086 0l-1.681 1.682a3.604 3.604 0 0 0 0 5.085l10.77 10.771a4.365 4.365 0 0 0 .922.561 5.125 5.125 0 0 0-1.081-.2h-15.256a3.564 3.564 0 0 0-3.564 3.604v2.362a3.564 3.564 0 0 0 3.564 3.604h15.256a3.283 3.283 0 0 0 1.04-.24 4.765 4.765 0 0 0-.92.64l-10.772 10.771a3.604 3.604 0 0 0 0 5.086l1.682 1.682a3.604 3.604 0 0 0 5.086 0l10.77-10.772a4.565 4.565 0 0 0 .601-.92 3.524 3.524 0 0 0-.24 1.08v15.256a3.604 3.604 0 0 0 3.604 3.604h2.362a3.604 3.604 0 0 0 3.604-3.604v-15.215a4.765 4.765 0 0 0-.2-1.042 3.323 3.323 0 0 0 .6.921l10.772 10.772a3.604 3.604 0 0 0 5.085 0l1.682-1.682a3.604 3.604 0 0 0 0-5.085l-10.771-10.772a5.726 5.726 0 0 0-.881-.6 3.043 3.043 0 0 0 1.08.24h15.217a3.604 3.604 0 0 0 3.604-3.604v-2.362a3.604 3.604 0 0 0-3.604-3.804zm-20.502 9.93l-1.681 1.682a2.282 2.282 0 1 1-4.005 1.602h-2.522a3.564 3.564 0 0 0-3.123 1.922 3.484 3.484 0 0 0-.841-3.564l-1.682-1.682a3.564 3.564 0 0 0-3.564-.88 3.524 3.524 0 0 0 1.962-3.124v-2.363a3.564 3.564 0 0 0-1.922-3.123 3.644 3.644 0 0 0 3.604-.84l1.642-1.682a3.604 3.604 0 0 0 .88-3.564 3.564 3.564 0 0 0 3.124 1.922h2.362a3.524 3.524 0 0 0 3.124-1.882 3.564 3.564 0 0 0 .84 3.564l1.682 1.681a3.564 3.564 0 0 0 3.564.841 3.644 3.644 0 0 0-1.922 3.163v2.363a3.524 3.524 0 0 0 1.882 3.123 3.564 3.564 0 0 0-3.404.841zM163.651 784.95a2.683 2.683 0 0 0 2.683-2.683v-7.207a2.683 2.683 0 0 0-5.366 0v7.207a2.683 2.683 0 0 0 2.683 2.683z' fill='%231296db'/%3E%3Cpath d='M156.484 786.191a2.723 2.723 0 0 0 4.004 0 2.723 2.723 0 0 0 0-3.804l-5.086-5.085a2.723 2.723 0 0 0-3.804 0 2.643 2.643 0 0 0 0 3.764zm2.402 3.324a2.683 2.683 0 0 0-2.683-2.643h-7.207a2.683 2.683 0 1 0 0 5.326h7.167a2.683 2.683 0 0 0 2.723-2.683zm1.281 3.444a2.723 2.723 0 0 0-4.004 0l-5.085 5.085a2.683 2.683 0 1 0 4.004 4.004l5.085-5.366a2.643 2.643 0 0 0 0-3.723zm3.444 1.36a2.683 2.683 0 0 0-2.683 2.684v7.207a2.683 2.683 0 0 0 5.366 0v-7.247a2.683 2.683 0 0 0-2.683-2.643zm7.167-1.36a2.683 2.683 0 1 0-3.803 3.803l5.205 5.046a2.683 2.683 0 0 0 4.004-3.764zm7.488-6.047h-7.207a2.683 2.683 0 0 0 0 5.366h7.207a2.683 2.683 0 1 0 0-5.366zm-11.251-.72a2.643 2.643 0 0 0 3.804 0l5.085-5.246a2.683 2.683 0 0 0-4.004-3.764l-5.086 5.085a2.643 2.643 0 0 0 .2 3.924zM69.473 394.983a6.887 6.887 0 1 0 13.774 0 6.887 6.887 0 1 0-13.774 0zM861.46 259.881c0 128.615-189.998 297.631-280.613 370.948-28.39 22.944-47.05 36.518-47.05 36.518s-27.468-23.104-65.307-60.063C384.682 525.64 250.02 376.203 250.02 259.881c0-42.204 19.1-82.406 47.77-119.004 130.256-166.254 385.643-166.254 515.9 0 28.67 36.598 47.77 76.8 47.77 119.004z' fill='%231296db'/%3E%3Cpath d='M796.513 140.877C702.815 21.352 544.569-12.243 414.473 40.172 532.957 13.464 664.094 52.184 745.9 156.653c28.67 36.599 47.77 76.8 47.77 119.005 0 133.58-152.16 279.051-232.243 348.364 10.17 8.529 8.008 6.687 8.008 6.687S844.242 428.778 844.242 259.92c.04-42.244-19.06-82.446-47.73-119.044z' fill='%231296db'/%3E%3Cpath d='M451.512 631.35a16.017 16.017 0 0 1-10.651-4.005c-93.418-83.167-250.102-241.372-250.102-367.464a174.222 174.222 0 0 1 13.815-66.43 16.017 16.017 0 1 1 29.63 12.013 142.229 142.229 0 0 0-11.411 54.217c0 117.803 167.375 279.452 239.37 343.48a16.017 16.017 0 0 1-10.651 28.028zm124.57-2.283a16.017 16.017 0 0 1-10.691-28.03c206.055-184.192 236.847-292.785 236.847-341.236 0-34.836-14.935-71.555-44.366-109.114A308.322 308.322 0 0 0 553.66 34.807a312.647 312.647 0 0 0-223.594 55.537 16.017 16.017 0 0 1-18.7-26.147A344.84 344.84 0 0 1 557.823 3.093a340.075 340.075 0 0 1 225.235 128.134c33.996 43.325 51.214 86.69 51.214 128.855 0 125.29-155.082 282.535-247.539 365.101a16.017 16.017 0 0 1-10.65 3.884zM254.546 156.894a15.776 15.776 0 0 1-9.89-3.404 16.017 16.017 0 0 1-2.723-22.463 347.256 347.256 0 0 1 22.183-25.627 16.017 16.017 0 0 1 23.144 22.143 307.241 307.241 0 0 0-20.02 23.224 16.017 16.017 0 0 1-12.694 6.127z' fill='%231296db'/%3E%3Cpath d='M403.662 150.807a8.008 8.008 0 0 1-1.762-16.016 71.635 71.635 0 0 1 15.777-1.762 8.008 8.008 0 0 1 0 16.017 54.817 54.817 0 0 0-12.293 1.36 8.81 8.81 0 0 1-1.722.401zm-57.14 83.488a8.008 8.008 0 0 1-8.008-7.648c-1.442-30.793 11.772-60.664 34.436-78.042a8.008 8.008 0 0 1 9.73 12.733c-18.58 14.215-29.35 38.961-28.03 64.588a8.008 8.008 0 0 1-7.607 8.369zM567.954 675.756H456.477l-49.131-76.52h210.78l-50.172 76.52zM482.945 772.097h103.668a16.017 16.017 0 0 1 16.017 16.016v51.855a67.75 67.75 0 0 1-67.75 67.75 67.75 67.75 0 0 1-67.752-67.75v-51.975a16.017 16.017 0 0 1 16.017-16.016z' fill='%231296db'/%3E%3Cpath d='M583.61 772.097h-36.358a16.017 16.017 0 0 1 8.008 13.814v56.059a67.75 67.75 0 0 1-42.684 62.905 67.63 67.63 0 0 0 86.77-64.987v-52.055a16.017 16.017 0 0 0-15.736-15.736z' fill='%231296db'/%3E%3Cpath d='M512.736 919.45a84.088 84.088 0 0 1-83.768-83.767 16.017 16.017 0 1 1 32.034 0 51.734 51.734 0 1 0 103.468 0V783.83H460.882a16.017 16.017 0 1 1-32.034 0 32.033 32.033 0 0 1 32.034-32.034H564.59a32.033 32.033 0 0 1 32.034 32.034v51.854a84.088 84.088 0 0 1-83.888 83.768z' fill='%231296db'/%3E%3Cpath d='M483.906 811.097a1.842 1.842 0 0 1-1.161-.4 2.002 2.002 0 0 1-.44-2.803 12.813 12.813 0 0 1 4.003-3.403 2.002 2.002 0 0 1 2.002 3.443 8.409 8.409 0 0 0-2.642 2.363 2.042 2.042 0 0 1-1.762.8zm-2.843 18.38a1.962 1.962 0 0 1-1.922-1.442 26.187 26.187 0 0 1 .24-13.814 2.002 2.002 0 0 1 2.483-1.362 1.922 1.922 0 0 1 1.361 2.443 22.063 22.063 0 0 0-.24 11.612 2.002 2.002 0 0 1-1.362 2.483 1.361 1.361 0 0 1-.56.08z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
						background-size: 100%;
						.num{
							display:inline-block;
							transform: translate(12px, -6px);
							font-size: 0.8rem;
							color: white;
						}
					}
					.text{
						display: inline-block;
						margin-left: 1rem;
						vertical-align: middle;
					}
				}
			}
		}
	}

}
