.tourist{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	.first-row{
		padding-right: 2rem;
		text-align: end;
		.input-container{
			display: inline-block;
			.input{
				display: inline-block;
			}
		}
	}
	.second-row{
		text-align: end;
		padding: 1rem 2rem;
		.select {
			display: inline-block;
			width: 20rem;
			position: relative;
			z-index: 2;
			padding: 1rem;
		}
		.add{
			display: inline-block;
		}
	}
	.third-row{
		flex-grow: 1;
		.table-wapper {
			margin: 0.8rem 1.8rem 0.7rem 1.3rem;
			.setting{
				font-size: 0.8rem;
				color: hsl(225,7%,53%);
				.addBlack{
					&:hover{
						cursor: pointer;
						color: hsl(168,55%,50%);
					}
				}
			}
			.icon{
				height: 100%;
				.uncomplete{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M692.35 703.51c-4.6 0-9.19-1.75-12.71-5.25L329.68 349.45c-7.04-7.02-7.06-18.41-.04-25.46 7.02-7.04 18.42-7.06 25.46-.04l349.97 348.81c7.04 7.02 7.06 18.42.04 25.46a18 18 0 0 1-12.76 5.29z' fill='%231296db'/%3E%3Cpath d='M342.97 704.09c-4.6 0-9.19-1.75-12.71-5.25-7.04-7.02-7.06-18.42-.04-25.46l348.81-349.97c7.02-7.04 18.42-7.06 25.46-.04 7.04 7.02 7.06 18.41.04 25.46L355.72 698.79c-3.52 3.53-8.14 5.3-12.75 5.3zm420.67 132.56c-5.4 0-10.73-2.42-14.28-7.03-6.06-7.88-4.59-19.18 3.29-25.24 16.92-13.01 32.94-29.14 43.96-44.25 5.86-8.03 17.12-9.8 25.15-3.94s9.8 17.12 3.94 25.15c-13.14 18.03-31.29 36.34-51.1 51.58a17.929 17.929 0 0 1-10.96 3.73z' fill='%231296db'/%3E%3Cpath d='M512 925.52c-55.82 0-109.97-10.94-160.96-32.5-49.24-20.83-93.46-50.64-131.44-88.61s-67.78-82.19-88.61-131.43c-21.57-50.99-32.5-105.15-32.5-160.96s10.94-109.97 32.5-160.96c20.83-49.24 50.64-93.46 88.61-131.44s82.19-67.78 131.44-88.61c50.99-21.57 105.15-32.5 160.96-32.5s109.97 10.94 160.96 32.5c49.24 20.83 93.46 50.64 131.43 88.61s67.78 82.19 88.61 131.44c21.57 50.99 32.5 105.15 32.5 160.96 0 74.09-19.83 146.78-57.34 210.21-5.06 8.56-16.1 11.39-24.66 6.33-8.56-5.06-11.39-16.1-6.33-24.66 34.25-57.9 52.35-124.25 52.35-191.9 0-50.97-9.98-100.41-29.66-146.94-19.01-44.95-46.24-85.33-80.91-120-34.68-34.68-75.05-61.9-120-80.91-46.53-19.68-95.97-29.66-146.94-29.66s-100.41 9.98-146.94 29.66c-44.95 19.01-85.33 46.24-120 80.91-34.68 34.68-61.9 75.05-80.91 120-19.68 46.53-29.66 95.97-29.66 146.94s9.98 100.41 29.66 146.94c19.01 44.95 46.24 85.33 80.91 120 34.68 34.68 75.05 61.9 120 80.91 46.53 19.68 95.97 29.66 146.94 29.66 34.38 0 68.44-4.62 101.24-13.72 9.58-2.66 19.5 2.95 22.16 12.53s-2.95 19.5-12.53 22.16c-35.94 9.98-73.25 15.04-110.88 15.04z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
					background-size: 25%;
				}
				.complete{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M453.32 681.32c-4.68 0-9.18-1.86-12.49-5.17L293.85 529.16c-6.9-6.9-6.9-18.08 0-24.98 6.9-6.9 18.08-6.9 24.98 0l134.49 134.49 270.43-270.43c6.9-6.9 18.08-6.9 24.98 0 6.9 6.9 6.9 18.08 0 24.98L465.81 676.14c-3.31 3.32-7.8 5.18-12.49 5.18zm311.15 156c-5.3 0-10.53-2.37-14.01-6.89-5.95-7.73-4.5-18.82 3.23-24.77 17-13.08 33.1-29.29 44.18-44.48 5.75-7.88 16.8-9.61 24.68-3.87 7.88 5.75 9.61 16.8 3.87 24.68-13.16 18.05-31.34 36.4-51.18 51.67a17.632 17.632 0 0 1-10.77 3.66z' fill='%231296db'/%3E%3Cpath d='M512 926.48c-55.95 0-110.23-10.96-161.34-32.58-49.36-20.88-93.68-50.76-131.74-88.82-38.06-38.06-67.94-82.38-88.82-131.74C108.48 622.23 97.52 567.95 97.52 512s10.96-110.23 32.58-161.34c20.88-49.36 50.76-93.68 88.82-131.74 38.06-38.06 82.38-67.94 131.74-88.82C401.77 108.48 456.05 97.52 512 97.52s110.23 10.96 161.34 32.58c49.36 20.88 93.68 50.76 131.74 88.82 38.06 38.06 67.94 82.38 88.82 131.74 21.62 51.11 32.58 105.39 32.58 161.34 0 74.26-19.88 147.12-57.48 210.7-4.97 8.4-15.8 11.18-24.2 6.21-8.4-4.97-11.18-15.8-6.21-24.2 34.38-58.14 52.56-124.78 52.56-192.72 0-51.19-10.02-100.85-29.79-147.58-19.1-45.15-46.44-85.7-81.26-120.52-34.83-34.83-75.38-62.17-120.52-81.26-46.73-19.77-96.39-29.79-147.58-29.79s-100.85 10.02-147.58 29.79c-45.15 19.1-85.7 46.44-120.52 81.26-34.83 34.83-62.17 75.38-81.26 120.52-19.77 46.73-29.79 96.39-29.79 147.58s10.02 100.85 29.79 147.58c19.1 45.15 46.44 85.7 81.26 120.52s75.38 62.17 120.52 81.26c46.73 19.77 96.39 29.79 147.58 29.79 34.53 0 68.74-4.64 101.67-13.78 9.4-2.61 19.13 2.89 21.75 12.29 2.61 9.4-2.89 19.14-12.29 21.75-36.02 10.01-73.41 15.08-111.13 15.08z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
								background-size:25%;
				}
				.svip{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1204 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M1241.702 391.831l2.1 1.663q-1.035-.875-2.1-1.663zm-1280.41 2.392l3.792-3.004c-4.553 3.167-8.267 7.216-10.964 11.922zM94.676 1025.202c-.335 2.246-.686 4.478-.991 6.738.632-2.397 1.004-5.153 1.025-7.992zm-33.619 32.088zm-33.577-36.157q.365-2.523.758-5.046c-.512 2.136-.819 4.598-.846 7.124zM1178.516 1013.3c.422 2.64.802 5.294 1.181 7.948a34.947 34.947 0 0 0-1.497-9.083zm-67.484 17.343a402.07 402.07 0 0 0-.919-6.228 34.943 34.943 0 0 0 1.408 8.07zM994.8 313.771h-46.018l-24.591 139.174h41.743q41.29 0 66.012-18.581t30.848-53.265q11.874-67.326-67.997-67.326z' fill='%23d4237a'/%3E%3Cpath d='M1149.333 204.992H56.345c-31.855 0-57.681 25.807-57.715 57.653v374.76c.031 31.85 25.86 57.656 57.715 57.656H1149.377c31.855 0 57.681-25.807 57.715-57.653v-374.76c-.031-31.85-25.86-57.656-57.715-57.656h-.047zm-779.84 124.997q-27.712-21.877-76.005-21.877-32.088 0-54.608 13.404t-26.909 37.296q-3.734 21.179 7.907 34.451t54.345 36.347q47.111 24.549 63.3 49.094t10.779 55.176q-8.11 45.945-45.841 70.491t-97.067 24.474c-17.979-.282-35.277-2.606-51.855-6.749q-22.166-4.73-33.28-13.291l9.072-51.34q13.55 13.973 38.811 22.972c14.958 5.68 32.253 8.984 50.316 9.019q72.64-.004 81.872-52.25c.54-2.515.852-5.406.852-8.369a41.343 41.343 0 0 0-4.2-18.219c-5.953-11.315-15.433-20.387-26.978-25.774q-3.119-3.718-37.716-22.433-47.957-26.123-60.69-48.54t-7.643-51.239q7.686-43.465 47.155-68.916t92.748-25.436q52.114 0 74.254 12.616zm116.115 293.006l-64.35-348.854h50.086l45.9 272.748c1.11 6.694 1.743 14.408 1.743 22.27 0 3.177-.105 6.33-.309 9.456l1.145-.425c6.745-22.026 17.444-41.077 31.384-57.255l126.109-246.778h48.278L535.62 622.997h-50.086zm327.618-310.8l-48.131 272.748h33.546l-6.723 38.068H679.611l6.723-38.068h33.546l48.131-272.748h-33.533l6.723-38.068h112.307l-6.723 38.068h-33.546zm297.249 67.093q-9.072 51.355-51.253 83.21t-96.701 30.075H917.19l-23.03 130.393h-45.141l61.594-348.824h99.283q56.635 0 83.137 27.246t17.4 77.93z' fill='%23d4237a'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.black-iconpass{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M192 512a320 320 0 1 0 640 0 320 320 0 1 0-640 0z' fill='%2339c6aa'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.black-icon{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M192 512a320 320 0 1 0 640 0 320 320 0 1 0-640 0z' fill='%23d81e06'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
			}

	}

	}
}
