.tourist{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	.first-row{
		padding-right: 2rem;
		text-align: end;
		.input-container{
			display: inline-block;
			.input{
				display: inline-block;
			}
		}
	}
	.second-row{
		height: 15rem;
		text-align: end;
		padding: 2rem 2rem;
		.select {
			display: inline-block;
			width: 20rem;
			position: relative;
      z-index: 2;
		}
		.add{
			display: inline-block;
		}
	}
	.third-row{
		flex-grow: 1;
		.table-wapper {
			margin: 0.8rem 1.8rem 0.7rem 1.3rem;
			.icon{
				height: 100%;
				.n-vip{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M512.023 128.391c-210.688 0-381.53 170.842-381.53 381.45 0 210.737 170.842 381.596 381.53 381.596 210.706 0 381.483-170.859 381.483-381.595 0-210.609-170.776-381.45-381.483-381.45zM752.148 684.24l-65.775 65.794-174.35-174.318-174.348 174.318-65.792-65.794 174.364-174.332L271.834 335.51l65.824-65.794 174.365 174.397 174.396-174.364 65.73 65.84L577.8 509.907 752.148 684.24z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.vip{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M683.195 567.615V916.76h73.37V789.975c117.268 1.74 176.72-3.48 193.196-103.556 5.219-29.266-5.219-62.114-18.215-80.123-38.68-52.393-155.027-39.397-248.35-38.68zm73.37 163.01V628.808c54.438-1.74 112.05-7.777 121.566 36.224 15.656 73.574-60.374 67.332-121.566 65.593zM541.88 569.355c.819 115.529.819 231.876 1.74 347.405h71.63V567.615c-24.15 1.024-48.402 1.024-73.37 1.74zm138.86-467.231C567.666 214.992 454.9 327.04 341.01 440.114v-337.99H67.69c.819 22.41.819 45.638 1.74 68.15h66.41v745.974c271.58-271.784 542.341-542.545 813.92-814.124H680.74z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.svip{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1204 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M1241.702 391.831l2.1 1.663q-1.035-.875-2.1-1.663zm-1280.41 2.392l3.792-3.004c-4.553 3.167-8.267 7.216-10.964 11.922zM94.676 1025.202c-.335 2.246-.686 4.478-.991 6.738.632-2.397 1.004-5.153 1.025-7.992zm-33.619 32.088zm-33.577-36.157q.365-2.523.758-5.046c-.512 2.136-.819 4.598-.846 7.124zM1178.516 1013.3c.422 2.64.802 5.294 1.181 7.948a34.947 34.947 0 0 0-1.497-9.083zm-67.484 17.343a402.07 402.07 0 0 0-.919-6.228 34.943 34.943 0 0 0 1.408 8.07zM994.8 313.771h-46.018l-24.591 139.174h41.743q41.29 0 66.012-18.581t30.848-53.265q11.874-67.326-67.997-67.326z' fill='%23d4237a'/%3E%3Cpath d='M1149.333 204.992H56.345c-31.855 0-57.681 25.807-57.715 57.653v374.76c.031 31.85 25.86 57.656 57.715 57.656H1149.377c31.855 0 57.681-25.807 57.715-57.653v-374.76c-.031-31.85-25.86-57.656-57.715-57.656h-.047zm-779.84 124.997q-27.712-21.877-76.005-21.877-32.088 0-54.608 13.404t-26.909 37.296q-3.734 21.179 7.907 34.451t54.345 36.347q47.111 24.549 63.3 49.094t10.779 55.176q-8.11 45.945-45.841 70.491t-97.067 24.474c-17.979-.282-35.277-2.606-51.855-6.749q-22.166-4.73-33.28-13.291l9.072-51.34q13.55 13.973 38.811 22.972c14.958 5.68 32.253 8.984 50.316 9.019q72.64-.004 81.872-52.25c.54-2.515.852-5.406.852-8.369a41.343 41.343 0 0 0-4.2-18.219c-5.953-11.315-15.433-20.387-26.978-25.774q-3.119-3.718-37.716-22.433-47.957-26.123-60.69-48.54t-7.643-51.239q7.686-43.465 47.155-68.916t92.748-25.436q52.114 0 74.254 12.616zm116.115 293.006l-64.35-348.854h50.086l45.9 272.748c1.11 6.694 1.743 14.408 1.743 22.27 0 3.177-.105 6.33-.309 9.456l1.145-.425c6.745-22.026 17.444-41.077 31.384-57.255l126.109-246.778h48.278L535.62 622.997h-50.086zm327.618-310.8l-48.131 272.748h33.546l-6.723 38.068H679.611l6.723-38.068h33.546l48.131-272.748h-33.533l6.723-38.068h112.307l-6.723 38.068h-33.546zm297.249 67.093q-9.072 51.355-51.253 83.21t-96.701 30.075H917.19l-23.03 130.393h-45.141l61.594-348.824h99.283q56.635 0 83.137 27.246t17.4 77.93z' fill='%23d4237a'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.black-iconpass{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M192 512a320 320 0 1 0 640 0 320 320 0 1 0-640 0z' fill='%2339c6aa'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
				.black-icon{
					width: 7rem;
					height: 100%;
					display: inline-block;
					background: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M192 512a320 320 0 1 0 640 0 320 320 0 1 0-640 0z' fill='%23d81e06'/%3E%3C/svg%3E") no-repeat center;
								background-size: 30%;
				}
			}

	}

	}
}
