.left {
	display:flex;
	flex-direction: column;
	height: 60vh;
	border-bottom: hsl(235,23%,33%)solid;
	.title{
		height: 7vh;
		margin: 1.7rem 0 1.7rem 1.5rem;;
		.name{
			.text{
				display: inline-block;
				margin-left: 0.5rem;
				vertical-align: top;
				font-size: 1.2rem;
				color: #9fa4b2;
			}
		}
	}
	.item{
		line-height: 7vh;
		.link{
			padding-left: 1.5rem;
			display: inline-block;
			width: 100%;
			.white-text{
				color: #ffffff !important;
			}
			.text-link{
				margin-left: 1.5rem;
				vertical-align: middle;
				font-size: 1rem;
				color: #9fa4b2;
			}
		}
		&:hover{
			background-color: hsl(235,23%,33%);
		}
	}
	.white-backgrpond{
		background-color: hsl(235,23%,33%);
		&:hover{
			background-color: hsl(235,23%,33%);
		}
	}
	.bottom{
		margin-top: 11vh;
		.item{
			line-height: 7vh;
		}
	}
}
