.sidebar {
	.icon-out {
		animation: move  0.4s linear 1 alternate both;
		@keyframes move{
			0%{
				right:0.5rem;
			}
			100%{
				right: 17rem;
				background:url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M833.562 499.779L478.998 854.343c-15.281 15.281-15.281 40.058 0 55.34s40.058 15.281 55.34 0l408.327-408.327L534.338 93.029c-15.281-15.282-40.058-15.282-55.34 0-15.281 15.281-15.281 40.058 0 55.34l354.564 351.412zm-391.938.634l-353.93 353.93c-15.281 15.281-15.281 40.058 0 55.34s40.058 15.281 55.34 0L551.36 501.357 143.034 93.03c-15.281-15.282-40.058-15.282-55.34 0-15.281 15.281-15.281 40.058 0 55.34l353.931 352.047z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
		   background-size: 100%;
			}
		}
	}
	.side-icon {
		position: absolute;
		z-index: 400;
		right: 0.5rem;
		top: 0;
		bottom: 0;
		height: 2.1rem;
		width: 1.6rem;
		margin:auto;
		cursor: pointer;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
		background:url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M146.134 525.905l403.415-403.416c17.387-17.387 17.387-45.577 0-62.964s-45.577-17.387-62.964 0L21.999 524.111l464.586 464.586c17.387 17.388 45.575 17.388 62.964 0 17.387-17.387 17.387-45.577 0-62.964L146.134 525.904zm445.939-.722L994.766 122.49c17.387-17.387 17.387-45.577 0-62.964s-45.577-17.387-62.964 0L467.218 524.111l464.585 464.586c17.387 17.388 45.576 17.388 62.964 0 17.387-17.387 17.387-45.577 0-62.964L592.073 525.182z' fill='%231296db'/%3E%3C/svg%3E") no-repeat center;
		background-size: 100%;
	}
	.list-out{
		animation: listout  0.4s linear 1 alternate both;
		@keyframes listout {
			from {
				right:-18.1rem;
			}

			to {
				right: 0.1rem;
			}
		}
	}

	.list{
		position: absolute;
		z-index: 400;
		width:17rem;
		height:95%;
		top:0;
		bottom: 0;
		margin: auto;
		right: -18.1rem;
		background-color: hsl(240,33%,97%);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
		.content{
			display: flex;
			flex-direction: column;
			height: 100%;
			.title{
				height:2rem;
				text-align: center;
				border-bottom: hsl(225,10%,68%)solid;
				color: #9fa4b2;
				font-weight: 700;
			}
			.search-list{
				background-color: hsl(0,0%,100%);
				overflow-y: auto;
				margin: auto;
				width: 100%;
				flex-grow: 1;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
				font-size: 0.9rem;
				.show-input{
					border-bottom: 1px solid #e5e5e5;
					height: 3rem;
					line-height: 3rem;
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:hover{
						/* color:hsl(232, 100%, 60%); */
						background-color: hsl(240,33%,97%);
					}
				}
			}
		}
	}

}
